<link rel="stylesheet" href="css/login.css">

<div class="row">
  <div class="column1">

    <form class="form login-form">

      <div class="container">
        <h2>Login</h2>
        {{!-- <div class="email"> --}}
          <label for="email-login"><b>Email Address</b></label>
          <input class="form-input" type="text" placeholder="Enter Username" id="email-login" required>
          {{!--
        </div> --}}

        {{!-- <div class="pass"> --}}
          <label for="password-login"><b>Password</b></label>
          <input class="form-input" type="password" placeholder="Enter Password" id="password-login" required>
          {{!--
        </div> --}}

        <button class="login" type="submit">Login</button>
      </div>

    </form>
  </div>

  <div class="column1">
    <form class="form signup-form" id="form2">

      <div class="container">
        <h2>Signup a new user</h2>
        <label for="firstName"><b>First Name:</b></label>
        <input class="form-input" type="text" placeholder="First Name" id="firstName" required>

        <label for="lastName"><b>Last Name:</b></label>
        <input class="form-input" type="text" placeholder="Last Name" id="lastName" required>

        <label for="user_name"><b>Username:</b></label>
        <input class="form-input" type="text" placeholder="Username" id="user_name" required>

        <label for="email_address"><b>Email Address:</b></label>
        <input class="form-input" type="text" placeholder="Email Address" id="email_address" required>

        <label for="userPassword"><b>Password</b></label>
        <input class="form-input" type="password" placeholder="Password" id="userPassword" required>

        <button class="login" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>

  

<script src="./js/login.js"></script>