<link rel="stylesheet" href="css/login.css">

<div class="row">
  <div class="col-md-6">


    <form class="form login-form">

      <div class="container">
        <h2>Login</h2>
        {{!-- <div class="email"> --}}
          <label for="uname"><b>Email Address</b></label>
          <input class="form-input" type="text" placeholder="Enter Username" id="email-login" required>
          {{!--
        </div> --}}

        {{!-- <div class="pass"> --}}
          <label for="psw"><b>Password</b></label>
          <input class="form-input" type="password" placeholder="Enter Password" id="password-login" required>
          {{!--
        </div> --}}

        <button class="login" type="submit">Login</button>
      </div>

    </form>
  </div>
</div>

<script src="./js/login.js"></script>