<h1>This is signup</h1>
<h2>This is a test</h2>
{{!-- <link rel="stylesheet" href="css/signup.css"> --}}

{{!-- <div class="loginSection">
    <h1>
        signup a new user
    </h1>

    <form class="form signup-form">
        {{!-- Name --}}
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="name">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="name">
        </div>

        {{!-- DOB --}}
        <div class="form-group">
            <label for="user_name">Date of birth:</label>
            <input type="text" id="dob" name="dob">
        </div>

        {{!-- Email --}}
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
        </div>

        {{!-- Password --}}
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
        </div>

        {{!-- Add User button --}}
        <div class="form-group text-center">
            <button class="btn btn-primary" type="submit" id="btnAddUser">Add User</button>
        </div>

        {{!-- Already a user --}}
        <div class="form-group text-center">
            <a href="/login">Already a user? Click here to log in</a>
        </div>

    </form>


</div> --}}

{{!-- <link rel="stylesheet" href="css/signup.css">

<div class="row">
    <div class="col-md-6">


        <form class="form login-form">

            <div class="container">
                <h2>Signup a new user</h2>
                <label for="firstName"><b>First Name:</b></label>
                <input class="form-input" type="text" placeholder="First Name" id="firstName" required>

                <label for="lastName"><b>Last Name:</b></label>
                <input class="form-input" type="text" placeholder="Last Name" id="lastName" required>

                <label for="user_name"><b>Username:</b></label>
                <input class="form-input" type="text" placeholder="Username" id="user_name" required>

                <label for="email_address"><b>Email Address:</b></label>
                <input class="form-input" type="text" placeholder="Email Address" id="email_address" required>

                <label for="userPassword"><b>Password</b></label>
                <input class="form-input" type="password" placeholder="Password" id="userPassword" required>

                <button class="submit" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/signup.js"></script> --}}